{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container my-3 dp">
        <div class="row">
            <h1> Mentions légales :</h1>
        </div>
        <div class="row py-2">
            <p> Le site internet Village Green<sup>tm</sup> est la propriété exclusive personnelle de la personne physique Patrick Chouvet. Si vous n'êtes pas d'accord... Rien de personnel mais, je n'ai pas besoin de votre consentement qu'il soit éclairé ou pas. C'est MOI QUI DECIDE.
           <br> Identifiant siret : 19964785441236456
           <br> Propriétaire : Patrick Chouvet
           <br> E-mail : Hautementfonctionneldelafpa@afpa.fr
           <br> Téléphone : 06 69 63 45 86
           <br><br>Conception du site internet : Ma secrétaire personnelle -> <a href="#">www.masecretaireperso.com</a>
           <br><br>Le site est hébérgé par amorce.org, situé au 15 rue de Veauville, 67000 Strasbourg. Capital : un empire de plusieurs milliards de USD $, Siret : 869 808 40200012</p>
        </div>
</div>
        </div>
{% endblock %}