{% extends 'base.html.twig' %}
{% block title 'Demande de réinitialisation du mot de passe' %}
{% block body %}
<div class="container">
<section>
        <h1>Demande de réinitialisation du mot de passe</h1>
        {{form_start(requestPassForm)}}
        {{form_end(requestPassForm)}}
<section>
</div>
{% endblock %}