{% extends 'base.html.twig' %}

{% block title %}Vos demandes{% endblock %}

{% block body %}
<h1>Bonjour  cher {{type}} </h1>

{% for requete in requetes %}
<p>{{requete.Sujet}}</p>
{% endfor %}
<a class="btn btn-success btn-sm" href="/profil/requete/create"> Créer une requête </a>
{% endblock %}
