{% extends 'admin/admin.html.twig' %}
 {% block title "Sous-rubrique : " ~ sousRubrique.Nom %}
{% block body %}
    <h1> {{ sousRubrique.Nom }} </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}

 {% endblock %}