{% extends 'admin/admin.html.twig' %}
 {% block title "Créer une nouvelle Rubrique" %}
{% block body %}
    <h1> Créer une nouvelle Rubrique. </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}

 {% endblock %}