{% extends 'admin/admin.html.twig' %}
 {% block title "Rubrique : " ~ rubrique.Nom %}
{% block body %}
    <h1> {{ rubrique.Nom }} </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}

 {% endblock %}