{% extends 'base.html.twig' %}
 {% block title "Produit : " ~ produit.Nom %}
{% block body %}
    <h1> {{ produit.Nom }} </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}

 {% endblock %}