{% extends 'admin/admin.html.twig' %}
 {% block title "Produit : " ~ produit.Nom %}
{% block body %}
<div class="row text">
    <h1> {{ produit.Nom }} </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}
</div>
 {% endblock %}