{% extends 'admin/admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="text">Bienvenue sur l'administration de Village Green<hr>
<p>Vous trouverez sur cette page une documentation des actions possibles, WORK IN PROGRESS...</p>
</div>
{% endblock %}
