{%extends 'base.html.twig' %}
        {% block body %}
         
<div class="container">
    <h2>Nos produits</h2>
    <div class="row flex">
    {% for produit in produits %}
    <div class="col-3">
        <div class="card bg-white">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path('app_admin_produit_show', {id: produit.id, slug: produit.slug}) }}">{{produit.nom}}</a>
            </h5>
        <p class="card-text">{{produit.description}}</p>
        <div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{produit.formattedPrice}} € </div>
        </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
        {% block javascripts %}{% endblock %}