/* body {
    background-color: skyblue;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.card{
    transition: transform .5s;   
   }
.card:hover{
   
    background-color: lightsteelblue !important;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform:scale(1.05);
   }
   #card_putin:hover{
    background-color: red !important;
    -ms-transform:scale(2);
    -webkit-transform: scale(2);
    transform:scale(2) 18 sec;
    animation: rotate 18s linear infinite; animation-delay: 0s;}
        @keyframes rotate {
            0% {rotate: 0deg;}
            100% {rotate: 360deg;}
    
    
        
    }
a{
    text-decoration:none;
}
    #card_putin{
        transition: transform 18s;
    }
.commands{
    bottom:0; right:0;
}
.redsocials{
    background-color:rgba(26, 26, 26, 0.877); height:45px;
}

.dp{
    background-color:rgba(26, 26, 26, 0.999);
    border-radius:10px;
}

.footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .parallax{
    background-attachment: fixed;
    background-size:cover;
}
h2,h1,label,p,td,ul,li{
        color:aliceblue;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}