{% extends 'admin/admin.html.twig' %}
 {% block title "Créer un nouveau produit" %}
{% block body %}
<div class="row text">
    <h1> Passer une nouvelle commande fournisseur </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}
</div>
 {% endblock %}