{% extends 'admin/admin.html.twig' %}
{% block title 'Fournisseur :' ~ fournisseur.id %}
{% block body %}
    <div class="container row text">
    <h1> {{ 'Nom du fournisseur : ' ~ fournisseur.nom |nl2br }} </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}
    </div>
 {% endblock %}