{% extends 'admin/admin.html.twig' %}
 {% block title "Utilisateur : " ~ utilisateur.email %}
{% block body %}
<div class="row text">
    <h1> {{ utilisateur.email }} </h1>
    
    {{form_start(form)}}
    
    {{form_end(form)}}
</div>
 {% endblock %}